/* You can add global styles to this file, and also import other style files */
.my-heading {
  margin: 0;
  padding: 25px;
  color: #021579;
  font-size: 48px;

}

.employeeList-title, .projectList-title {
  margin: 0;
  padding: 0 25px;
  color: #3146d5;
  font-size: 36px;
}

.employeeList-item, .projectList-item {
  font-size: 22px;
  margin-top: 8px;
  list-style-type: none;

}
